<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title></title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <ul>
      <li>
        <a href="about"><h3 id="about">ABOUT</h3></a>
      </li>
      <li>
        <a href="works"><h3 id="works">WORKS</h3></a>
      </li>
      <li>
        <a href="photos"><h3 id="photos">PHOTO GALLERY</h3></a>
      </li>
    </ul>
    <script src="../app.js" charset="utf-8"></script>
  </body>
</html>
