* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  background-image: repeating-linear-gradient(90deg, white, white 200px, black 200px, black 400px);
}

#bodyabout {
  background-color: rgb(157, 0, 255);
  background-image: repeating-linear-gradient(90deg, rgb(187, 255, 0), rgb(187, 255, 0) 300px, rgb(157, 0, 255) 300px, rgb(157, 0, 255) 600px);
}

#bodyworks {
  background-color: rgb(255, 0, 128);
  background-image: repeating-linear-gradient(90deg, rgb(255, 191, 0), rgb(255, 191, 0) 300px, rgb(255, 0, 128) 300px, rgb(255, 0, 128) 600px);
}

#bodyphotos {
  background-color: rgb(0, 255, 81);
  background-image: repeating-linear-gradient(90deg, rgb(13, 0, 255), rgb(13, 0, 255) 300px, rgb(0, 255, 81) 300px, rgb(0, 255, 81) 600px);
}

h3 {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#about {
  color: black;
  font-size: 180px;
  text-shadow: 5px 5px orangered;
}

#works {
  font-size: 180px;
  color: black;
  text-shadow: 5px 5px rgb(204, 255, 0);
}

#photos {
  font-size: 180px;
  color:white;
  text-shadow: 5px 5px rgb(0, 47, 255);
}

.about {
  font-size: 400px;
  color: rgb(4, 255, 0);
  text-shadow: 0 360px yellow;
  margin-left: 27px;
}

.works {
  font-size: 380px;
  color: rgb(255, 0, 38);
  text-shadow: 0 380px rgb(0, 255, 247);
  margin-left: 15px;
}

.photos {
  font-size: 280px;
  color: rgb(123, 255, 0);
  text-shadow: 0 170px rgb(255, 128, 0);
  margin-left: 45px;
}
